<h1 align="center">Registration form</h1>

<div class="regForm">
  <p>Your name: <input [formControl]="firstNameControl"></p>
  <p> Your last name: <input [formControl]="lastNameControl"></p>
  <p>Your email: <input type="email" [formControl]="emailControl"></p>
  <p>Your password: <input type="password" [formControl]="passControl"></p>
  <p>Repeat your password: <input type="password" [formControl]="passSubmit"></p>
  <button class="submit" (click)="submitRegistration()">Submit</button>
</div>


